
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////

/library
/profiles
/temp
/local
/native
/extensions

/build/web-mobile*/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/